@media (min-width: 320px) and (max-width:991px){
  
    p,.heading1 button,
    .text-heading button,
    .btn-primary,
    .btn-secondarry,
    .course button,
    .close-btn button {
        font-size: 12px;
    }
    header {
        overflow: hidden;
        position: relative;
        height: 700px;
        background-color: beige;
    }
    header nav {
        margin: 0 0;
    }
    .nav-button {
        font-size: 0px;
        width: 30%;
    }
    .nav-button button{
        font-size: 10px;
        
    }
    .hamb {
        width: 50px;
        height: 50px;
        position: relative;
        overflow: hidden;
        top: 5px;
    }
    .hamb button img {
        position: relative;
        right: 8px;
        top: -8px;
       
    }
    .jumbotron {
        margin: 0;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .hero-heading {
        position: relative;
        width: 500px;
    }
    .heading1 {
      width: 100%;
  }
    .hero-heading .hero-1 {
        position: relative;
        width: 500px;
        height: 300px;
        left: 10%;
        top: 0;
        transform: rotate(90deg);
    }
    .hero-heading .hero-2 {
        max-width: 300px;
        position: relative;
        top: -50%;
        left: 10%;
    }
    .heading1 h1,main h1  {
        font-size: 25px;
    }
    #main {
        margin: 20px 0;
    }
    .hero-2 img {
        max-width: 400px;
    }
        
    /* Content-2 */
    .content img {
        width: 25%; 
    }
    .content article h2 {
        margin-top: 5px;
        font-size: 10px;
        margin-left: 0;
    }


    .content-2 {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        overflow: hidden;
    }
    .content-2 .text-heading {
        width: 100%;
        padding: 20px;
    }
    .content-2.after{
        display: flex;
        justify-content: space-between;
        flex-direction: column-reverse;
    }
    .content-2 .hero-2,
    .content-2 .hero{
        position: relative;
        top: -100px;
        left: 10%;
        padding-top: 100px;
    }

    .content-2 .hero-2 img,
    .content-2 .hero img {
        width: 80%;
    }
    .content-2 .text-heading h2,
    .pricelist h1,
    .testimoni .text-heading h2,
    .hero-testimoni h2 {
        font-size: 25px;
    }


    /* Pricelist */
    .pricelist {
        margin: 20px 20px;
        position: relative;
        height: 1450px;
    }

    .choose {
        max-width: 300px;
        margin-left: 0;
   
    }
    .pricelist-menu {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .course {
       min-height: 280px;  
       box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
       margin-top: 0;
    }
    .cour-2{
        width: 100%;
        margin: 10px auto;
    }
    button.btn-price1 {
        margin-top: 130px;
        background-color: black;
    }
    button.btn-price2 {
        margin-top: 80px;
        margin-left: 0;
        width: 200px;
        height: 50px; 
    }
    button.btn-price3 {
        margin-top: 20px;
        margin-left: 30px;
        background-color: black;
    }

    /* Testimoni */
    .testimoni {
        margin: 10px 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        max-width: 100%;
    }
    .text-heading h2 {
        font-size: 2em;
    }
    .hero-testimoni {
        width: 100%;
        margin-bottom: 100px;
    }
    .hero-testimoni .hero-tes{
        width: 100%;
        top: 100px;
        left: 0;
        position: relative;
        
    }
    .hero-testimoni h2,.hero-testimoni p, .testimoni ul {
        position: relative;
        top: 200px;
        left: 0;
    }
    
    /*Closing  */
    .closing {
        margin: 20px 10px;
        display: flex;
        flex-wrap: wrap;
        height: 450px;
        flex-direction: column;
        overflow: hidden;    
    }
    .text-closing {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .text-closing h2 {
        margin-bottom: 20px;
    }
    .text-closing p {
        margin-bottom: 20px;
    }
    .close-btn {
        position: relative;
        top: 40%;
        right: 70%;
      
    }

    /* Footer */
    footer {
        margin-top: 100px;
        margin: 0 0;
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 200px;
         background-color: beige;
         box-shadow: 0px -1px 5px rgba(0, 0, 0, 0.2);
    }

    footer article  {
        display: flex;
        margin: 10px auto;
    }
    footer h1 {
        text-align: center;
        margin-top: 20px;
        width: 100%;
    }
    footer article ul {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
       
    }
    
    footer article ul li {
        list-style: none;
    }
    footer article ul li a {
        text-decoration: none;
        color: #838383;
        font-family: "Roboto";
    }
    footer article ul li a:hover {
        color: rgb(47, 125, 180);
    }
    aside {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        margin:  auto ;
    }
    aside img{
        border-radius: 50%;
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
        transition: 0.6s;
        /* border: 5px solid rgb(233, 175, 128); */
    }
    aside img:hover {
        background-color: rgb(47, 125, 180);
        cursor: pointer;
        z-index: 222222;
        transform: scale(1.1);
    }
    .scroll-top  {   
        position: fixed;
        bottom: 40px;
        right: 30px;
    }
    .sidebar ul {
     width: 100%; 
    }
    .close-sidebar {
        width: 50px;
        height: 50px;
        position: fixed;
        top: 20px;
        right: 20px;
        box-shadow: 0px 0px 5px rgba(255,255,255,1);
        border-radius: 50%;
        transition: 0.5s;
    }
    .close-sidebar.muncul {
        cursor: pointer;
        display: block;
      
       
    }
    ul.slider {
        opacity: 1;
        transform: translateX(0);
        z-index: 3333333;
    }
}