@media (min-width: 320px) and (max-width:991px){
    *{
        Border: 1px solid red;
    }
    header {
        overflow: hidden;
        position: relative;
        height: 700px;
        background-color: beige;
    }
    header nav {
        margin: 0 0;
    }
    .nav-button {
        font-size: 0px;
    }
    .jumbotron {
        margin: 0;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .hero-heading {
        position: relative;
        width: 500px;
    }
    .heading1 {
      width: 100%;
  }
    .hero-heading .hero-1 {
        position: relative;
        width: 500px;
        height: 300px;
        left: 10%;
        top: 0;
        transform: rotate(90deg);
    }
    .hero-heading .hero-2 {
        max-width: 300px;
        position: relative;
        top: -50%;
        left: 10%;
    }
    .heading1 h1,main h1  {
        font-size: 30px;
    }
    main {
        margin: 20px 0;
    }
    .hero-2 img {
        max-width: 400px;
    }
        
    /* Content-2 */
    .content-2 {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        overflow: hidden;
    }
    .content-2 .text-heading {
        width: 100%;
        padding: 20px;
    }
    .content-2.after{
        display: flex;
        justify-content: space-between;
        flex-direction: column-reverse;
    }
    .content-2 .hero-2,
    .content-2 .hero{
        position: relative;
        top: -100px;
        left: 10%;
        padding-top: 100px;
    }

    .content-2 .hero-2 img,
    .content-2 .hero img {
        width: 80%;
    }
    .content article h2{
        margin-left: 0;
        font-size: 10px;
    }
    .pricelist {
        margin: 20px 20px;
        position: relative;
        height: 1450px;
    }

    .choose {
        max-width: 300px;
        margin-left: 35px;
   
    }
    .pricelist-menu {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .course {
        height: 250px; 
        height: 350px;   
    }
    .cour-2{
        width: 100%;
    }
    button.btn-price1 {
        margin-top: 130px;
        background-color: black;
    }
    button.btn-price2 {
        margin-top: 80px;
        margin-left: 15px;
        width: 200px;
        height: 50px; 
    }
    button.btn-price3 {
        margin-top: 40px;
        margin-left: 30px;
        background-color: black;
    }

    /* Testimoni */
    .testimoni {
        margin: 10px 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        max-width: 100%;
    }
    .text-heading h2 {
        font-size: 2em;
    }
    .hero-testimoni {
        width: 100%;
        margin-bottom: 100px;
    }
    .hero-testimoni .hero-tes{
        width: 100%;
        top: 100px;
        left: 0;
        position: relative;
        
    }
    .hero-testimoni h2,.hero-testimoni p, .testimoni ul {
        position: relative;
        top: 200px;
        left: 0;
    }
    
    /*Closing  */
    .closing {
        margin: 20px 10px;
        display: flex;
        flex-wrap: wrap;
        height: 400px;
        flex-direction: column;
        overflow: hidden;    
    }
    .text-closing {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .text-closing h2 {
        margin-bottom: 20px;
    }
    .text-closing p {
        margin-bottom: 20px;
    }
    .close-btn {
        position: relative;
        top: 40%;
        right: 70%;
      
    }

    /* Footer */
    footer {
        margin-top: 100px;
        margin: 20px 20px;
        display: flex;
        padding-bottom: 200px;
    }

    footer article  {
        display: flex;
       
    }
    footer h1 {
        width: 50%;
        margin-top: 50px;
    }
    footer article ul {
        display: flex;
       flex-wrap: wrap;
       flex-direction: column;
      
    }
    
    footer article ul li {
        list-style: none;
    }
    footer article ul li a {
        text-decoration: none;
        color: #838383;
        font-family: "Roboto";
    }
    footer article ul li a:hover {
        color: rgb(47, 125, 180);
    }
    aside {
        position: relative;
        top: 0;
        right: 50px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column; 
    }
    aside img{
        margin-top: 20px;
    }
    .scroll-top  {   
        position: fixed;
        bottom: 40px;
        right: 30px;
    }
    .sidebar ul {
     width: 100%; 
    }
    .close-sidebar {
        width: 65px;
        height: 65px;
        background-image: url(../img/close.svg);
        z-index: 12121212;
        position: fixed;
        top: 20px;
        right: 40px;
        display: none;
        transition: 1s;
        box-shadow: 0px 0px 5px rgba(255,255,255,1);
        border-radius: 50%;
    }
    .close-sidebar.muncul {
        cursor: pointer;
        display: block;
      
       
    }
    ul.slider {
        opacity: 1;
        transform: translateX(0);
        z-index: 3333333;
    }
}